<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../assets/favicon.ico" />
    <title>ImSeoyeong</title>

    <link rel="stylesheet" href="../../assets/css/reset.css" />
    <link rel="stylesheet" href="../../assets/css/layout.css" />
    <link rel="stylesheet" href="../../assets/css/main.css" />
  </head>

  <body>
    <header>
      <div class="inner">
        <div class="header-wrap">
          <a class="logo" href="../main/index.html">ImSeoyeong</a>
          <div class="btn-wrap">
            <a href="javascript:;">로그인</a>
            <a href="javascript:;">회원가입</a>
          </div>
        </div>
        <nav>
          <ul class="gnb">
            <li>
              <a href="javascript:;">입사지원서</a>
            </li>
            <li>
              <a href="../board/view_board.html">게시판</a>
            </li>
            <li>
              <a href="../gallery/view_gallery_board.html">갤러리</a>
            </li>
            <li>
              <a href="../guestbook/regular_guestbook.html">방명록</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <section id="main" class="inner">
      <img class="main-img" src="../../assets/image/hong.jpg" alt="" />
      <div>
        <p class="intro-txt">
          <strong>
            Hello!!~<br />
            어서오세요 환영합니다.<br /><br />
            이 사이트는 웹 프로그래밍 실습과제 예제 사이트입니다. </strong
          ><br /><br />
          사이트 소개, 회원가입, 방명록, 게시판으로 구성되어 있으며<br />
          jsp&serlvet(모델2) 방식으로 제작되었습니다.<br /><br />
          자바 수업 + 데이터베이스 수업 + 웹프로그래밍 수업<br />
          배운 거 있는 없는 거 다 합쳐서 만들어 놓은 사이트<br /><br />
          자유롭게 꾸미기<br />
          자유롭게 꾸미기<br />
          자유롭게 꾸미기<br />
          자유롭게 꾸미기<br />
          자유롭게 꾸미기<br />
        </p>
        <a class="go-guestbook" href="javascript:;">[방명록에 글 남기기]</a>
      </div>
    </section>

    <footer>
      <div class="inner">
        <p class="copyright">Copyright ©2025 임서영. All right reserved</p>
      </div>
    </footer>
  </body>
</html>
