<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../assets/favicon.ico" />
    <title>ImSeoyeong : 일반갤러리</title>

    <link rel="stylesheet" href="../../assets/css/reset.css" />
    <link rel="stylesheet" href="../../assets/css/layout.css" />
    <link rel="stylesheet" href="../../assets/css/gallery.css" />
  </head>

  <body>
    <header>
      <div class="inner">
        <div class="header-wrap">
          <a class="logo" href="../main/index.html">
            <h1>ImSeoyeong</h1>
          </a>
          <div class="btn-wrap">
            <a href="../user/login.html">로그인</a>
            <a href="../user/signup.html">회원가입</a>
          </div>
        </div>
        <nav>
          <ul class="gnb">
            <li>
              <a href="javascript:;">입사지원서</a>
            </li>
            <li>
              <a href="../board/view_board.html">게시판</a>
            </li>
            <li>
              <a href="../gallery/view_gallery_board.html">갤러리</a>
            </li>
            <li>
              <a href="../guestbook/regular_guestbook.html">방명록</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <section id="gallery" class="view inner">
      <div class="content-wrap">
        <aside class="side-bar">
          <h2>갤러리</h2>
          <ul class="list">
            <li>
              <a href="../gallery/view_gallery_board.html">일반갤러리</a>
            </li>
            <li>
              <a href="javascript:;">파일첨부연습</a>
            </li>
          </ul>
        </aside>

        <div class="content">
          <div class="page-title">
            <h3>일반갤러리</h3>
            <ol class="progress">
              <li>홈</li>
              <li>갤러리</li>
              <li>일반갤러리</li>
            </ol>
          </div>
          <!-- //page-title -->

          <div class="btn-wrap justify-end mb-10">
            <button class="btn" type="button">이미지올리기</button>
          </div>

          <ul class="gallery-list">
            <li>
              <img class="thumbnail" src="../../assets/image/hong.jpg" alt="" />
              <p class="writer">작성자: 홍길동</p>
            </li>
            <li>
              <img class="thumbnail" src="../../assets/image/sample01.jpg" alt="" />
              <p class="writer">작성자: 홍길동</p>
            </li>
            <li>
              <img class="thumbnail" src="../../assets/image/sample02.jpg" alt="" />
              <p class="writer">작성자: 홍길동</p>
            </li>
            <li>
              <img class="thumbnail" src="../../assets/image/sample03.jpg" alt="" />
              <p class="writer">작성자: 홍길동</p>
            </li>
            <li>
              <img class="thumbnail" src="../../assets/image/sample04.jpg" alt="" />
              <p class="writer">작성자: 홍길동</p>
            </li>
          </ul>
          <!-- //gallery-list -->
        </div>
        <!-- //content -->
      </div>
      <!-- //content-wrap -->
    </section>

    <footer>
      <div class="inner">
        <p class="copyright">Copyright ©2025 임서영. All right reserved</p>
      </div>
    </footer>
  </body>
</html>
