.inner {
  padding: 10px;
}

input,
textarea {
  width: 100%;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.btn {
  padding: 5px 30px;
  background: cadetblue;
  color: #fff;
  border-radius: 5px;
  margin-top: 20px;
}

.btn-wrap {
  display: flex;
  gap: 5px;
}

header {
  border-bottom: 1px solid #ccc;
}

header .logo {
  font-size: 30px;
  font-weight: 700;
}

header nav {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

#main h2 {
  font-size: 22px;
  font-weight: 700;
}

.board-list li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 10px;
  border-bottom: 1px solid #ddd;
}

.comment-wrap {
  margin-top: 40px;
}

.comment-wrap h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.comment-wrap > ul {
  margin-bottom: 20px;
}

.comment-wrap > ul > li {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  box-sizing: border-box;
}

.comment-wrap > ul > li .btn {
  background: #666;
  font-size: 15px;
  padding: 3px 10px;
  margin-top: 10px;
}